@charset "utf-8";
/* CSS Document */
@import url("../css/reset.css");
@import url("css/layout.css");

body{
  	line-height: 1.5;
	font-size: 13px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;	
	background:url(../images/keyv_bg.png);
}

/*==================================
　　　　　　　　top
==================================*/


/*-------------header-------------*/

#container
{
	width:100%;
	margin:0;
	
}
#mainheader
{
	width:100%;
	background-color:#f6f6f6;
}
.header
{
	width:970px;
	height:100px;
	margin:0 auto;
	
}
#header_inner
{
	width:359px;
	height:60px;
	
	float:left;
	margin-top:2%;
}
#headerlogo
{
	float:left;
	width:118px;
	height:41px;

		
}

#header_text
{
	float:right;
	width:175px;
	height:61px;
	color: #426ec9;
	font-size: 1em;
	font-weight: bold;
	margin-top: 2%;
	
	
}
#headercontact
{
	float:right;
	width:167px;
	height:65px;
	margin-top:3%;

	
}
/*-------------nav-------------*/
#nav_bg{
	width:100%;
	margin:0;
	
	background-color:#fff;
}

#gnav {
	height: 50px;
	width: 970px;
	/*background: #e6915a;*/
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	/*border-bottom: 2px solid #283744;
	background:url(../images/nav_bg.png) no-repeat;*/
	margin:0 auto;
}
	
#gnav ul {
	padding: 0;
	margin: 0 auto;
	width: 970px;
	height: 50px;
	list-style-type:none;
	float:left;
	
}
#gnav ul li {
	display: inline;
	float: left;
	/*padding-left: 55px;*/
	margin:0;
}
#gnav ul li a {
	color: #557bcd;
	display: inline-block;
	width: 159px;
	text-align: center;
	text-decoration: none;
	line-height: 50px;
	letter-spacing:0.05em;
	font-weight:bold;
	
	float: left;
}
#gnav li a {
	border-right: 1px solid #f1f1f1;
	/*box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;*/
	
}
#gnav li:last-child a {
	/*border-right: 1px #d4bd7f solid;*/
}
#gnav li:first-child a{
	border-left:1px #f1f1f1 solid;
}
#gnav a:hover, nav a:active {
	/*background-color: #f2af58;*/
}/*-------------banner-------------*/
#banner{
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	background: #a0c9e8;
}
#banner-inner{
	width: 1200px;
	height: 500px;
	margin: 0px auto;
	background:url(../images/bnr_top01.png) no-repeat;
}
/*-------------content-------------*/

.content
{
	width:969px;
	height:2120px;
	margin:0 auto;
	/*background-color:red;*/
	
}

.contents_back
{
	width:969px;
	height:50px;
	/*background-color:yellow;*/
}

#main
{
	width:722px;
	height:2000px;
	float:left;
	/*background-color:green;*/
}

.section01
{
	width:722px;
	height:280px;
	
}
.toppic_left
{
	float:left;
	
}
.toppic_right
{
	float:right;
	
}


.sub_01{
	width:722px;
	height:300px;
	background-color:#fff;
}
.sub_01_1{
	width:722px;
	height:57px;
	background:url(../images/bnr_top02.png) no-repeat;
	
}
.sub_01_1 h2{
	width: 100%;
	font-size: 1.3em;
	color: #426ec9;
	padding: 16px;
	font-weight: bold;
	margin-left: 3.5%;
}

.sub_01_2{
	width:687px;
	height:220px;
	margin:0 auto;
	background-color:#fff;
}
.sub_01_3{
	width:222px;
	height:220px;
	float:left;
}
.about_pic{
	/*float:right;*/
}
.sub_01_4{
	width:448px;
	height:220px;
	float:right;
	
}
.sub_01_4 p{
	width:100%;
	font-size:0.85em;
	color:#333333;
	line-height:2.15em;
	letter-spacing:0.09em;
	text-align:justify;
	margin-top:-6px;
}
/* Sub 02*/


.sub_02{
	width:722px;
	height:286px;
	
	background-color:#ffffff;
}

.sub_02_2{
	width:722px;
	height:50px;
	background:url(../images/bnr_top02.png) no-repeat;
}
.sub_02_2 p{
	width:100%;
	font-size:1.17em;
	color:#4a3011;
	padding:15px;
	font-weight:bold;
	margin-left:2px;
	
}

.sub_02_2 h2{
	width:100%;
	font-size:1.3em;
	color:#426ec9;
	padding:17px;
	font-weight:bold;
	margin-left:4%;
}

.sub_02_3
{
	width:681px;
	height:30px;
	background-color:#426ec9;
	margin:0 auto;
	margin-top:2%;
}

.sub_02_3 p{
	width:100%;
	font-size:1em;
	color:#ffffff;
	padding:7px;
	font-weight:bold;
	margin-left:2px;
	padding-left:3%;

	
	
}
.sub_02_4
{
	width:681px;
	height:166px;
	
	margin:0 auto;
}

.sub_02_4 p{
	width:681px;
	font-size:0.85em;
	color:#333333;
	letter-spacing:0.08em;
	margin-left:2px;
	padding-top:3%;
	line-height: 2.2em;
	
}
/*sub 03*/
.sub_03{
	width:722px;
	height:320px;
	background-color:#ffffff;
	
}
.sub_03_1{
	width:722px;
	height:50px;
	background:url(../images/bnr_top02.png) no-repeat;
}


.sub_03_1 h2 {
width: 100%;
font-size: 1.3em;
color: #426ec9;
padding: 17px;
font-weight: bold;
margin-left: 4%;
}
.sub_03_2{
	width: 100%;
	height:301px;
	background-color:#ffffff;
}
.sub_03_3{
	width: 100%;
	height:227px;
	
	margin-top: 20px;
	float:left;
}
.sub_03_3 ul{
	width: 100%;	
	height: 227px;
	float: left;	
	/*border: 1px solid;*/	
}
.sub_03_3 li{ 
	width: 215px;	
	height: 227px;
 	display: inline-block;
 	margin-left: 16px;
 	float: left;
	text-align:center;
 	
 	
}

.sub_03_3 li span{
	width: 50px;
	height: 50px;
	color: #041b90;
	font-size: 13px;
	font-weight: bold;	
}
/*sub_04*/
.sub_04{
	width:100%;
	height:315px;
	background-color:white;
}
.sub_04_1{
	width:722px;
	height:50px;
	background:url(../images/bnr_top02.png)no-repeat;
}
.sub_04_1 h2{
	width: 100%;
	font-size: 1.3em;
	color: #426ec9;
	padding: 16px;
	font-weight: bold;
	margin-left: 3.5%;
}
.sub_04_2{
	width:722px;
	height:235px;
	background-color:#fff;
	
}
.sub_04_3{
	width:683px;
	height:165px;
	
	margin:0 auto;
}
.sub_04_3 ul{
	list-style-type:none;
	padding-top:20px;
}
.sub_04_3 ul li{
	display:block;
	border-bottom:1px #cccccc solid;
}
.sub_04_3 ul li a{
	width:100%;
	word-spacing:1.5em;
	font-size:0.85em;
	text-decoration:none;
	color:#333333;
	line-height:3em;
	font-weight:700;
}


.sub_04_3 ul li span
{
	color:#666666;
}
button{
	width:120px;
	height:30px;
	background-color:#002676;
	border:1px #002676 solid;
	float:right;
	margin-top:15px;
	color:white;
	font-weight:bold;
	cursor: pointer;
}


/*sub 05*/
.sub_05
{
	width:722px;
	height:394px;
	background:url(../images/cont_title.png) no-repeat;
	background-color:#ffffff;

}
.sub_05_1{
	width:722px;
	height:50px;
	background:url(../images/bnr_top02.png) no-repeat;
}

.sub_05_1 h2{
	width:100%;
	font-size:1.3em;
	color:#426ec9;
	padding:17px;
	font-weight:bold;
	margin-left:3.5%;
	
}
#sub_05_txt
{
	float:left;
	width:365px;
	height:341px;
	
}
#sub_05_txt h1
{
	font-size:18px;
	padding-top:5%;
	padding-left:5%;
	height:21px;
	margin-bottom:2%;
	color:#666666;
	letter-spacing:0.1em;
}

#sub_05_line
{
	width:339px;
	height:206px;
	
	margin:0 auto;
	font-size:12px;
	
}
.line
{
	width:92%;
	border-bottom:1px solid #0982f0;
	margin:0 auto;
}
#sub_05_line p
{
	line-height:2.2em;
	padding-left:1%;
	padding-top:1%;
	color:#666666;
	font-weight:700;
	
}
.sub_05_line_01
{
	float:right;
	height:34px;
	width:263px;
	color:#666666;
}
.sub_05_line_02
{
	float:right;
	height:18px;
	width:262px;
	color:#666666;
}
.sub_05_line_03
{
	float:right;
	height:18px;
	width:262px;
	color:#666666;
}
.sub_05_line_04
{
	float:right;
	height:18px;
	width:263px;
	color:#666666;
}
.sub_05_line_05
{
	float:right;
	height:18px;
	width:262px;
	color:#666666;
}
.sub_05_line_06
{
	float:right;
	height:18px;
	width:262px;
	color:#666666;
}
#sub_05_txtr
{
	width:266px;
	height:216px;
	
	
}
#map
{
	float:right;
	width:334px;
	
	height:300px;
	margin-top:3%;
	margin-right:3%;
}
#MyGmaps
{width:334px;
height:300px;
border:1px solid #CECECE;
}

/*-------------aside-------------*/
#sidebar
{
	width:221px;
	height:2000px;
	float:right;
	
}

#side_content_01{
	width: 222px;
	height: 287px;

}
#tit{
	width: 100%;
	height: 40px;
	background-color:#a0c9e8;
			
}




#tit h1{
	color: #fff;
	text-align: center;
	padding: 10px;
	font-weight:bold;
	letter-spacing: 2px;
}
#aside_inner{
	width: 222px;
	height:247px;
	background: #ffffff;
}
h1#block-title{
	width: 204px;	
	margin: 0 auto;
	padding-top:1%;
	height:16px;
	color:#333333;
}

.block-title{
	width: 204px;	
	margin: 0 auto;
	padding-top:1%;
	height:16px;
	color:#333333;
}

p#block-one {
	width: 204px;
	height: 39px;;
	font-size: 11px;
	line-height: 2em;
	color: #333333;	
	border-bottom: 1px solid #cccccc;
	margin: 0 auto;
	padding-bottom: 3%;
	padding-top:1%;
}

p#block-one_01 {
	width: 204px;
	height: 39px;;
	font-size: 11px;
	line-height: 2em;
	color: #333333;	
	border-bottom: 1px solid #cccccc;
	margin: 0 auto;
	padding-bottom: 3%;
	padding-top:1%;
}
p#block-one_02 {
	width: 204px;
	height: 39px;;
	font-size: 11px;
	line-height: 2em;
	color: #333333;	
	border-bottom: 1px solid #cccccc;
	margin: 0 auto;
	padding-bottom: 3%;
	padding-top:1%;
}
.block-one {
	width: 204px;
	height: 39px;;
	font-size: 11px;
	line-height: 2em;
	color: #333333;	
	border-bottom: 1px solid #01a2ff;
	margin: 0 auto;
	padding-bottom: 3%;
	padding-top:1%;
}
#right_btn{
	width: 88px;
	height: 22px;
	float: right;
	margin: 8px 10px;
	background:#002676;
	border: 1px solid #002676;
	color: #ffffff;
	padding-top: 2.5%;
	text-align: center;
	letter-spacing: 0.1em;

	
}


.aside_new_btn
{
	vertical-align:middle;
}

#right_btn a{
	text-decoration: none;
	color: #ffffff;
	
	font-weight:bold;
	text-align:center;
}

/*----side_content_02----*/
#side_content_02{
	width:222px;
	height:202px;
	
	margin-top:30px;
}
.side_content_02_1{
	width:222px;
	height:40px;
	margin-top:5px;
	
}
.aside_btn{
	width:222px;
	height:40px;
	color:#426ec9;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	margin:0;
	background:url(../images/btn_top02.png) no-repeat;
	border:1px #e1e1e1 solid;
	letter-spacing:0.1em;
}
#side_content_02_2{
	width:222px;
	height:40px;
}
.aside_btn_1{
	width:222px;
	height:40px;
	color:#426ec9;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	margin:0;
	background:url(../images/btn_top03.png) no-repeat;
	border:1px #e1e1e1 solid;
	letter-spacing:0.1em;
}
.aside_btn_2{
	width:222px;
	height:40px;
	color:#426ec9;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	margin:0;
	background:url(../images/btn_top04.png) no-repeat;
	border:1px #e1e1e1 solid;
	letter-spacing:0.1em;
}
.aside_btn_3{
	width:222px;
	height:40px;
	color:#426ec9;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	margin:0;
	background:url(../images/btn_top05.png) no-repeat;
	border:1px #e1e1e1 solid;
	letter-spacing:0.1em;
}
.aside_btn_4{
	width:222px;
	height:40px;
	color:#426ec9;
	font-size:1em;
	font-weight:bold;
	cursor:pointer;
	margin:0;
	background:url(../images/btn_top06.png) no-repeat;
	border:1px #e1e1e1 solid;
	letter-spacing:0.1em;
}
/*----side_content_03----*/
#side_content_03{
	width:222px;
	height:130px;

}
.text a{
	width:100%;
	font-size:0.8em;
	display:inline-block;
	color:#426ec9;
	line-height:2.5em;
	text-align:center;
	padding-top:12px;
	text-decoration:none;
	font-weight:bold;
}

.text_1 a{
	width:100%;
	font-size:0.8em;
	display:inline-block;
	color:#426ec9;
	line-height:2.5em;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
}
/*----side_content_04----*/
#side_content_04{
	width:222px;
	height:24px;
	
}
#input{
	width:191px;
	height:20px;
	float:left;
	border:1px #426ec9 solid;
}
#search{
	float:left;
	
}
/*asdie 05*/



#side_content_05
{
	width:222px;
	height:709px;
	background-color:#ffffff;
}
.aside_content_05_tit
{
	width:222px;
	color:#97642f;
	height:43px;
	background-color:#a0c9e8;
	margin-bottom:3%;
	
	
	
	
}
.aside_content_05_tit h1
{
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding-top:5%;
	margin-top:30px;
	color:#ffffff;
	
}
.aside_content_05_inner{
	width:204px;
	height:215px;
	background-color:#eff4f7;
	margin:0 auto;
	margin-bottom:7%;
}
.aside_content_05_inner h1
{
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding-top:4%;
	background-color:#a0c9e8;
	color:#ffffff;
	height:31px;
	
}
.aside_content_05_inner_01
{
	width:183px;
	height:58px;
	margin:0 auto;
	margin-top:2%;
	
}
.aside_content_05_inner_01 h2
{
	font-weight:bold;
	color:#333333;
	padding-top:3%;

}
.aside_content_05_inner_01 p
{
	font-size:11px;
	color:#333333;
	line-height:1.8em;
	padding-bottom:2%;
	border-bottom:1px solid #cccccc;
	
}
.aside_inner_header h2
{
	font-weight:bold;
	color:#333333;
	
}


.aside_content_05_btn
{
	vertical-align:middle;
}
.aside_content_05_btn01
{
	float:right;
	background-color:#002676;
	width:88px;
	height:22px;
	margin-top:4%;
	color:#ffffff;
	letter-spacing:0.1em;
	padding-top:1%;
	text-align:center;
	

	
	
}
.aside_content_05_btn01 a
{
	text-decoration:none;
	color:white;
	font-weight:bold;
	
}
.aside_content_05_inner02{
	width:204px;
	height:195px;
	background-color:#eff4f7;
	margin:0 auto;
	margin-bottom:6%;
}
.aside_content_05_inner02 h1
{
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding-top:4%;
	background-color:#a0c9e8;
	color:#ffffff;
	height:31px;

}
.aside_content_05_inner03
{
	width:183px;
	height:155px;
	margin:0 auto;
	margin-top:6%;
	
}
.aside_content_05_inner03 p
{
	border-bottom:1px solid#cccccc;
}
.aside_inner_txt01 
{width:183px;
height:16px;
color:#333333;
line-height:0.5em;
border-bottom:1px solid#cccccc;

	
}
.aside_inner_txt02
{width:183px;
height:32px;
color:#333333;
line-height: 2.5em;
border-bottom:1px solid#cccccc;

	
}
.aside_inner_txt03 
{width:183px;
height:32px;
color:#333333;
line-height: 2.5em;
border-bottom:1px solid#cccccc;

	
}
.aside_inner_txt04
{width:183px;
height:32px;
color:#333333;
line-height: 2.5em;
border-bottom:1px solid#cccccc;

	
}
.aside_inner_txt05
{width:183px;
height:32px;
color:#333333;
line-height: 2.5em;



	
}

/* inner 03!--*/



.aside_content_05_inner04{
	width:204px;
	height:195px;
	background-color:#eff4f7;
	margin:0 auto;
	margin-bottom:10%;
}
.aside_content_05_inner04 h1
{
	font-weight:bold;
	font-size:14px;
	text-align:center;
	padding-top:4%;
	background-color:#a0c9e8;
	color:#ffffff;
	height:31px;

}
.aside_content_05_inner05
{
	width:183px;
	height:155px;

	margin:0 auto;
	margin-top:6%;
	
	
}
.aside_content_05_inner05 p
{
	border-bottom:1px solid#cccccc;
}
	
.aside_inner_03_txt01
{width:183px;
height:14px;
color:#333333;
line-height:0.5em;
border-bottom:1px solid#cccccc;

	
}
.aside_inner_03_txt02
{width:183px;
height:32px;
color:#333333;
line-height: 2.5em;
border-bottom:1px solid#cccccc;

	
}
.aside_inner_03_txt03 
{width:183px;
height:32px;
color:#333333;
line-height: 2.5em;
border-bottom:1px solid#cccccc;

	
}
.aside_inner_03_txt04
{width:183px;
height:32px;
color:#333333;
line-height: 2.5em;
border-bottom:1px solid#cccccc;

	
}
.aside_inner_03_txt05
{width:183px;
height:32px;
color:#333333;
line-height: 2.5em;



	
}

#social
{ 
	width:222px;
	height:50px;
	margin-top:20%;
	
	
}

#social01
{
	padding-left:4%;
}
#social02
{
	padding-left:4%;	
}
/*----t0_top----*/
#t0_top{
	width:969px;
	height:60px;
	
	
	float:left;
}
#t0_top img{
	float:right;
}
/*----footer----*/


#footer_wrap{
	width:100%;
	height:218px;
	background-color:#002676;
}
#footer_inner{
	width:969px;
	height:218px;
	
	margin:0 auto;
}
.ft_menu{
	width:969px;
	height:70px;
	
	padding-top:10px;
}
.ft_menu li{
	display:inline;
	
}
.ft_menu li a{
	color:#fff;
	display:inline-block;
	width:112px;
	font-size:0.9em;
	text-decoration:none;
	line-height:2em;
	text-shadow: 1px 1px 0px #283744;
}
/*footer inner01*/
#footer_inner01
{
	width:969px;
	height:110px;
	
	margin:0 auto;
}
#footer_inner_left
{
	width:585px;
	height:95%;
	
	
	
}

#f_left
{
	width:221px;
	height:48px;
	float:left;
}
#f_right
{
	width:251px;
	height:78px;
	float:right;
}
#f_right p
{
	/*color:#ffffff;
	font-size:0.9em;
	float:right;
	padding-top:2%;*/
	color: #ffffff;
font-size: 0.9em;

padding-top: 2%;
width: 100%;
padding-left: 38%;
	
}
#footer_inner_right
{
	width:160px;
	height:29px;
	
	float:right;
	margin-top:1%;
	
	
}
#copy{
	color: #FFf;
text-align: center;
width: 582px;
height: 20px;

margin: 0 auto;
}
#copy p{
	
	letter-spacing:0.1em;
	margin-left:7%;
	font-family: 'Hiragino Kaku Gothic Pro';
	
}